{% extends "base.html" %}

{% block content %}
    <div class="company-main-container">
        <div class="company-left-side">
            <h1>{{ job_posts.first.company.company_name }} Job Posts </h1>
            <div class="company-job-post-list">
                {% for job_post in job_posts %}
                    <a href="{% url 'core:job-post' id=job_post.id %}">
                        <div class="company-job-post-item {% if select_job_post.id == job_post.id %}selected{% endif %}">
                            <h3 class="company-job-post-title">{{ job_post.job_title }}</h3>
                            <h4 class="company-job-post-company-name">{{ job_post.company.company_name }}</h4>
                            <p>{{ job_post.location }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="company-right-side">
            <h1>Form Container</h1>
        </div>
    </div>
{% endblock content %}