{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="{% static 'js/textEffect.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
      <h3>
        <a class="navbar-anchor" href="{% url 'core:index' %}">
          Tech Jobs Hub
        </a>
      </h3>
        <ul>
          {% if user.is_authenticated %}
            {% if user.first_name %}
              <li class="list-item">Hello {{user.first_name}} </li>
            {% else %}
              <li class="list-item">Hello {{user.username}} </li>
            {% endif %}
            {% comment %}
              <li class="list-item">Create a new job post</li>
              <li class="list-item">See all job list</li>
            {% endcomment %}
            <li class="list-item"><a href="{%url 'core:logout'%}">Logout</a></li>
            {% else %}
            <li class="list-item"><a href="{%url 'core:login'%}">Login</a></li>
          {% endif %}
        </ul>
    </div>
    {% block content %}

  {% endblock content %}
</body>
</html>