{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="{% static 'js/textEffect.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
      <h3>Tech Jobs</h3>
      <ul>
        <li class="list-item">Create a new user</li>
        <li class="list-item">Create a new job post</li>
        <li class="list-item">See all job list</li>
      </ul>
    </div>
    {% block content %}

  {% endblock content %}
</body>
</html>